<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pruebas</title>
</head>
<body>
	
	   <script src="/public/js/socket.js"></script>
	<script src="/public/js/functions_socket.js"></script>
</body>
</html>